.row{
    max-width: 114rem;
    margin: 0 auto;
}

.basic-grid{
    display: grid;
    margin: 0 auto;
    max-width: 114rem;
    grid-gap: 6rem;
}

.heading{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.section-teaching__grid-container{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2.5rem;
}

.about-lms{
    grid-template-columns: repeat(2,1fr);
    grid-gap: .3rem;
}

.all-course--grid{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,27.5rem);
    grid-gap: 2.5rem;
}

.top-course--grid{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2.5rem;
}

.achivements-grid{
    grid-template-columns: repeat(4,1fr);
}

.achivement-item-grid{
    grid-template-columns: repeat(2,1fr);
}

.class-grid{
    grid-template-columns: repeat(2,1fr);
}

.galarry-grid{
    display: grid;
    grid-template-areas: "img-1 img-2 img-3 img-3"
                         "img-4 img-4 img-3 img-3";
    max-width: 150rem;
    margin: 0 auto;

}

.news-grid{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2.5rem;
}

.footer__about-grid{
    grid-template-columns: repeat(2,1fr);
}