.header{
    
    .heading{
        height: 4.5rem;
        color: aliceblue;
        font-size: 1.6rem;

        a{
            color: aliceblue;
            text-decoration: none;
        }

        &__login{
            text-align: right;
        }

        &-icon{
            color: $color-white;
        }

        &-container{
           background-color: $color-primary-blue;
           width: 100%; 
        }
    }
   
}