
.hr-large{
    width: 20.5rem;
    margin: 7rem 0;
}

// .position{
//     position: relative;
// }
.section-teaching__grid-container{
     position: relative;
     bottom: -15rem;
}

.hr-small{
     width: 5rem;
     margin: 2rem 0;
}

.hr-full{
    margin: 3rem 0 1rem 0;
}

.hr-medium{
    width: 40rem;
    margin: 3rem 0;
}
.primary-heading{
    padding-top: 12rem;
    font-size: 7.2rem;
    font-weight: bold;
}

.paragraph{
    font-size: 4rem;
    width: 70%;
    color: #666666;
    font-style: italic;
    font-weight: 200;
}

.icon-speaker{
    font-size: 1.8rem;
    float: right;
}

.about-lms{

    &--img{
        height: 40rem;
        width: 60rem;
    }

    &__h3{
        text-transform: uppercase;
        margin-bottom: 4rem;
        font-size: 3rem;
    }

    &__p{
        color: #858585;
        font-size: 1.6rem;
        margin-bottom: 3.5rem;
    }


}

.all-course{

    &__items{
        background-color: $color-white;
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;
        border-radius: .3rem;
        box-shadow: 0 .3rem .5rem rgba($color-black, .1);
    }
    
    &__h5{
        font-size: 1.6rem;
        text-transform: capitalize;
        padding-top: .5rem;
    }

  
}

.achivement{

    &__text-container{
        font-size: 1.6rem;       
        top: -5rem;
        left: 8rem;       
    }

    &__title{
        font-size: 1.6rem;
        line-height: 1.2rem;
        color: #666666;
        font-family: "PT Serif";
        font-weight: 700;
    }

    &__value{
        font-size: 3.0rem;
        line-height: 3.2rem;
        color: #333333;
        font-family: "PT Serif";
        font-weight: 700;
        padding-bottom: 1rem;
    }
}

.achivement-2nd-part{
    &__para{
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #666666;
        font-family: "PT Serif";
        font-weight: 400;
        padding-bottom: 3rem;
    }

    &__img{
        width: 114rem;
        height: auto;
        margin-bottom: 10rem;
    }
}

.class{

    &__header{


        padding: 3rem 0;
        text-transform: capitalize;

        &--welcome-txt{
            font-size: 1.6rem;;
            line-height: 3rem;
            color: #696363;
            font-family: "PT Serif";
            font-weight: 400;
        }

        &--live-class{
            font-size: 24px;
            letter-spacing: 1px;
            color: #424242;
            font-family: "PT Serif";
            font-weight: bold;
        }
    }

    &__para{
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #666666;
        font-family: "PT Serif";
        font-weight: 400;
        padding-bottom: 3rem;

    }

    &__img{
        .img{
            padding: 1rem;
        }
    }
}

.news{

    &__heading{
        text-transform: uppercase;
        padding: 8rem 0 4rem 0;
        font-size: 3rem;
        color: #7c7a7a;
    }

    &-item{
        border: 1px solid #d8d5d5be;
        margin-bottom: 3rem;
    }

    &-img{
        width: 100%;
        height: auto;
    }

    &__text-container{
        padding: 2rem;
    }

    &__date{
        font-size: 1.6rem;
        color: #9c9b9b;
        text-transform: capitalize;
    }

    &__para{
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #666666;
        font-family: "PT Serif";
        font-weight: 400;
        padding-bottom: 3rem;
    }

    &__link{
        text-decoration: none;
        font-size: 1.6rem;
    }

}